/* 
    Document   : style
    Created on : 4 mars 2014, 08:51:03
    Author     : antonio
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body
{
    width: 100%;
    height: 100%;
}
.a_droite
{
    float: right;
}

a:link
{
    margin-top: 0px; 
    text-decoration: none;
    color: black;
}
a:visited
{
    margin-top: 0px; 
    text-decoration: none;
    color: black;
}
a:hover
{
    margin-top: 0px; 
    text-decoration: none;
    color: lime;
}
a:active
{
    margin-top: 0px; 
    text-decoration: none;
    color: fuchsia;
}
.red 
{
    color : red;
}
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
#principal
{
    width: 1200px;
    height: 680px;
    margin: auto;
    /*border-radius: 25px; 
    box-shadow: 15px 15px 200px black;*/
}
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
#banniere
{
    width: 1200px;
    height: 100px;
}
#titre_site
{
    font-size: 20pt;
}
.div_banniere
{
    width: 240px;
    height: 100px;
    float : left;
    font-size: 12pt;
    text-align: center;
}
#display_user
{
    font-size: 11pt;
    color: red;
}
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
#categorie
{
    width: 198px;
    height: 680px;
    margin-top: 25px;
    float: left;
    //background-color: red;
    border : 1px solid black;
    border-radius: 25px 0px 0px 0px;
    //box-shadow: 15px 15px 20px black;
}
.display_categorie
{
    width: 90%;
    height: 50px;
    margin: auto;
    text-align: center;
    border-bottom: solid 1px black;
}
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
#contenent
{
    width: 999px;
    height: 680px;
    margin-top: 25px;
    float: left;
    //background-color: yellow;
    //border-radius: 25px;
    //box-shadow: 15px 15px 20px black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0px 25px 0px 0px;
}
#view_annonce
{
    width: 95%;
    height: 100%;
    margin: auto;
}
#titre
{
    width: 100%;
    height: 70px;
    margin: auto;
    margin-top: 30px;
    //margin-bottom: 30px;
    font-size: 30pt;
    text-align: center;
}
#photos
{
    width: 350px;
    height: 500px;
    float: left;
    //background-color: yellow;
}
#photo_principale
{
    width: 100%;
    height: 350px;
    /*background-color: green;*/
}
#photos_miniatures
{
    width: 100%;
    height: 100px;
    margin-top: 40px;
    float: left;
    /*background-color: grey;*/
}
#enveloppe_text
{
    width: 63%;
    height: 500px;
    float: left;
    /*border-left: solid black 1px;*/
}
#text
{
    width: 350px;
    height: 450px;
    font-size: 20pt;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
#infos
{
    width: 100%;
    height: 80px;
    float: left;
    border-top: solid black 1px;
    border-left: solid black 1px;
}
.info
{
    width: 33.2%;
    height: 50px;
    padding-top: 30px;
    float: left;
    text-align: center;
    border-right: solid black 1px;
}
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
#pied_page
{
    width: 1198px;
    height: 50px;
    float: left;
    margin-bottom: 25px;
    border : 1px solid black;
    border-top: none;
    border-radius: 0px 0px 25px 25px;
}
#pied_page div
{
    width: 400px;
    height: 50px;
    float: left;
    text-align: center;
}
