/* 
    Document   : style
    Created on : 12 nov. 2012, 23:29:24
    Author     : antonio
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.element_droite
{
    float: right;
}
.element_gauche
{
    float: left;
}
.Lime
{
    color: lime;
}
.color_red
{
    color: red;
    text-decoration: none;
    font-size: 30px;
}
/*******************************************************************************************************************************/
/********************************************** Page Acceuil *******************************************************************/
/*******************************************************************************************************************************/
body
{
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}
#page_principale
{
    width: 80%;
    height: 650px;
    margin: auto;
    margin-top: 25px;
    border: 1px solid white;
    border-radius: 35px;
}
#banniere
{
    margin: auto;
    width: 98%;
    height: 40px;
    background-color: lime;
    border-radius: 35px;
}
#banniere table
{
    margin: auto;
    width: 95%;
    height: 20px;
}
#banniere a
{
    color: white;
}
/*******************************************************************************************************************************/
/********************************************** Page login *********************************************************************/
/*******************************************************************************************************************************/
#div_log
{
    width: 250px;
    height: 155px;
    border: 1px solid white; 
    border-radius: 35px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 0px 200px lime;
}
#div_log table
{
    margin: auto;
    margin-top: 15px;
}
#div_log td
{
    margin: auto;
    text-align: center;
}
#div_log th
{
    color: lime;
}
#div_log a
{
    color: white;
    text-decoration: none;
}
/*******************************************************************************************************************************/
/********************************************** Page Inscription ***************************************************************/
/*******************************************************************************************************************************/
#inscription
{
    width: 250px;
    height: 175px;
    border: 1px solid white; 
    border-radius: 35px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 0px 200px aqua;
}
#inscription table
{
    margin: auto;
    margin-top: 15px;
}
#inscription td
{
    margin: auto;
    text-align: center;
}
#inscription th
{
    color: aqua;
}
#inscription a
{
    color: white;
    text-decoration: none;
}
#ckb
{
    text-align: center;
}