/* 
    Document   : style
    Created on : 4 mars 2014, 08:51:03
    Author     : antonio
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body
{
    width: 100%;
    height: 100%;
}
.a_droite
{
    float: right;
}
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
#principal
{
    width: 1200px;
    height: 680px;
    margin: auto;
    /*border-radius: 25px; 
    box-shadow: 15px 15px 200px black;*/
}
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
#banniere
{
    width: 1200px;
    height: 100px;
}
#titre_site
{
    font-size: 20pt;
}
.div_banniere
{
    width: 240px;
    height: 100px;
    float : left;
    font-size: 12pt;
    text-align: center;
}
#display_user
{
    font-size: 11pt;
    color: red;
}
.div_banniere a:link
{
    text-decoration: none;
    color: black;
}
.div_banniere a:visited
{
    text-decoration: none;
    color: black;
}
.div_banniere a:hover
{
    text-decoration: none;
    color: lime;
}
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
#contenent
{
    width: 1197px;
    height: 680px;
    margin-top: 25px;
    float: left;
    //background-color: yellow;
    /*border-radius: 25px; 
    box-shadow: 15px 15px 20px black;*/
    border : solid 1px black;
    border-radius: 25px 25px 0px 0px;
    font-size: 16pt;
}
#titre
{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30pt;
    text-align: center;
}
.ligne_petite
{
    width: 90%;
    height: 70px;
    margin: auto;
    background-color: yellow;
}
#ligne_grande
{
    width: 90%;
    height: 280px;
    margin: auto;
    background-color: purple;
}
.colonne_gauche
{
    width: 50%;
    float: left;
    text-align: center;
    background-color: red;
}
.colonne_droite
{
    width: 50%;
    float: right;
    text-align: center;
    padding-top: 20px;
}
.grande_taille
{
    width: 80%;
    font-size: 12pt;
}
#btn_envoyer
{
    float: right;
    width: 200px;
    font-size: 12pt;
}
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
/*******************************************************************************************************************************/
#pied_page
{
    width: 1197px;
    height: 50px;
    float: left;
    margin-bottom: 25px;
    border : 1px solid black;
    border-top: none;
    border-radius: 0px 0px 25px 25px;
}
#pied_page div
{
    width: 400px;
    height: 50px;
    float: left;
    text-align: center;
}
